@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
	padding: 0;
	margin: 0;
	
}

body{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	max-width: 95%;
	background-color: #99CCFF;
	color: white;
	font-weight: bold;
	font: 16px "Roboto", sans-serif;
}

.H{
	margin-bottom: 10px;
	font-style: italic;
	text-decoration: underline;
}

a {
	color: #99FF99;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
}

a:active{
	color: #FFFF66;
}

a:visited {
	color: grey;
}

.photo{
	width: 195px;
	border-radius: 15%;
	box-shadow: 4px 10px 14px rgba(0,4,90,0.50);
	margin-left: 10px;
	margin-right: 25px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.info{
	background: #CC99FF;
	margin-bottom: 20px;
	font-weight: 700;
	display: flex;
}
.info p{
margin-top: 15px;
font-size: 20px;
}

.bg-yellow {
	background: #FFFF99;
}

.bg-green {
	background: #99FF66;
}

.bg-blue {
	background: #d9fff2;
}

.card {
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.card h4{
	color: #CC99FF;
	margin-bottom: 10px;
	font-style: italic;
	font-family: Andale Mono, monospace;
}

.list{
	padding: 0 20px;
}

.list li{
	margin-top: 10px;
	color: #FF6666;
	margin-bottom: 10px;
		font-weight: 900;
}

.table{
	width: 100%;
}

.table th{
	color: #CC99FF;
	font-style: italic;
	font-family: Adale Mono, monospace;
	padding-bottom: 1%;
}

.table td{
	color: #008B8B;
	text-align: center;
	font-weight: bold;
	font-family: Adale Mono, monospace;
	padding-bottom: 1%;
}

.social {
margin-bottom: 20px;
}

.social h2{
	margin-bottom: 10px;
}

.social a{
	margin-left: 1.5%;
}

.form h2{
	text-align: center;
}

.form-group label{
display: block;
font-size: 14px;
}

.form-group input,
.form-group textarea{
width: 100%;
box-sizing: border-box;
border: none;
/*background: transparent; */
border-bottom: 1px solid #ccc;
color: black;
padding: 15px 0 10px;
outline-color: #CC99FF;
font-size: 16px;
font-family: inherit;
}

.row{
	display: flex;
	margin-bottom: 20px;
}

.row > .form-group {
	width: 50%;
	margin-right: 20px;
}

.btn{
	padding: 15px 20px;
	background: #CC99FF;
	color: white;
	border: none;
	font-family: Adale mono, monospace;
	cursor: pointer;
}

.btn:hover{
	opacity: 0.9;
}